Now I want to take the indices and ablate the resnet model

In [1]:
from safetensors.torch import safe_open
import torch

In [77]:
ablate = {}
top_percent = 0.125
with safe_open(f"./data/tasks/face_task2k_top_{top_percent}_percent.safetensors", framework="pt") as f:
    for k in f.keys():
        ablate[k] = f.get_tensor(k)
ablate

{'layer0': tensor([  4569,   4568,   4570, 156265, 156266, 156270,   5567, 156269, 183603,
         156267, 156264, 156268,   4558,   4559, 156209, 156271, 183662, 156321,
         156326, 156214, 156322,   5577, 156325, 183642, 156101, 156210, 156102,
           4739, 156098, 156097,   5576, 156153, 156213, 156158,   4567, 156157,
         156099, 156100, 156154, 156156, 156323, 156208, 156212, 156324, 156211,
         183641, 156155, 196082, 183659,   4740, 183589,   4557, 156215, 196081,
         156263,   5566, 156152, 156382, 156320, 156096, 156327,   4724,   4722,
         156272, 196026, 156103, 183661,   4741, 156381, 156207, 156378,   4624,
         156377, 156380, 183644, 156159, 183645,  40122, 196025, 156379, 155884,
           6133,  40123,   4571,  40125, 183586, 156383, 155940,  40124, 183602,
         155885,   4560, 156216,   5568, 155828, 156151, 183660, 155883, 155867,
         156046,   6132, 156095, 155941, 155830, 155886, 155774, 156328, 155829,
         156376, 156104, 155811, 156041,   7926, 183585, 156438, 156319, 183588,
         155923, 199269, 156045,   4623, 155772, 155868,   4725, 155773, 156042,
         155942, 156384, 155718, 155775, 156044, 155827,   6134, 156043, 155810,
         156160, 155866, 156040, 155939, 155812,   5575, 155719, 156437,   4625,
           4514, 155755, 155924, 155882, 156047, 155754, 183604, 155831, 155813,
         183606,   4723, 155766, 155822, 196095, 155771,   7930, 156439, 155869,
           7870, 156434, 156433, 156435,   6131, 156436, 155826, 156206, 155820,
         155764, 155716, 155717, 155996, 156273, 155814, 183643, 155809, 155663,
           4513, 155821, 155765, 155763, 155753, 156606, 155887, 155761, 155662,
         155815, 155865, 155922, 155819, 155759, 155767, 156494, 155709, 156262,
         156039, 155758, 155757, 155878,   4556, 155698, 155823, 156048, 155870,
         155925, 155708, 155595, 155817, 155710, 155707, 156375, 155651, 155596,
         196078, 155979, 155697, 155652, 155762, 155756, 155881, 155770, 155877,
         155818, 155997, 155825, 156550, 155938, 155760, 156604, 155824, 156605,
         155705,   6188, 155816, 155653, 155706, 156493, 155699,  40121, 155871,
         155876, 156432, 156150, 155875, 155768, 156603, 155654]),
 'layer1': tensor([183641, 183662, 183661, 183642, 183585, 183640, 183663, 183603, 183602,
         183659, 183717,  32956, 199281, 183698, 199270, 199337, 142824, 183589,
         183588, 199338,  33012, 183644,   4568,  40122, 199269,   4569,  40069,
         199282, 183645, 183697,  40125,  40066, 182701, 182700, 182644, 182645,
         183716, 183586, 193671, 182641, 183718,  32957,  40124, 182647, 183702,
          40123, 152173,  33413, 193680,  40068,  40071, 183756, 182698, 199326,
         153025, 182648,  39052, 199325, 182642,  40067,   7870,  33248, 183699,
         199267,   7926, 183770, 193670, 161594, 142767, 182703, 105032, 182646,
         199394,  40072, 183584, 199268, 199339, 199336, 199324, 182699, 182704,
         124746, 199323, 139570,   4559, 161580, 183703,   7930, 139584,   4570,
         182643, 182697, 183658,  39165, 183660, 183757, 182639,  40070,  32900,
         182702,   4567, 139514,  33469, 183606,  40065, 199283,  32901, 182640,
         199380,   4558, 199340, 177258, 199284, 183664,  39109, 183771, 200167,
         161593,  33192, 183755, 123842, 123898, 177257,  42362,  33247, 152190,
         184429, 182706,  33357,  39053, 199395, 143617, 124690, 200176, 182649,
          55030,  39067,  39164,   6133, 183773, 123911, 199327, 183758, 183713,
          39166, 193679,  39179, 182705,  40121, 139529, 171005, 182650, 196025,
         196026,  39110, 183605, 182638,   6132,  40013, 200166, 183772, 152170,
         183655, 133260, 183712, 183656, 199280, 142768, 183701,   4560,  55013,
          39066, 182756, 199266, 199393, 182696, 183648,   7925, 182695, 123910,
         182591, 196082, 199379, 193669,  40064,  40063, 196081, 193681, 196095,
         183700,   2498,  33303, 153026,  38996, 199322,  39108,  33068, 183599,
         182588,  33302,   5567, 182813, 182757, 184430, 192886,  33414,   6134,
          33358,   7869,   7814, 123841, 199341, 142880, 199271, 183647,  40015,
         182754,   4557, 182759, 199381, 183754,  51722,  40010, 161635,  55027,
          51723,   7871, 182590,   6131,  33304, 183715, 182812,  39068,  39051,
         152958,  55009, 139515,  39178,  33525, 182760,  40016, 199391, 105088,
         192885, 182755, 152187,  40178,   5577,   6135, 200175]),
 'layer10': tensor([28330, 28331, 28316, 28329, 28344, 28345, 28315, 28327, 28314, 28313,
         28326, 10298, 28340, 28317, 28328, 10295, 10296, 28354, 28302, 10299,
         28341, 28301, 28312, 28359, 10297, 43617, 39895, 28300, 49707, 39896,
         28299, 28358, 28332, 37583, 17129, 28343, 28355, 28325, 14215, 17128,
          6587, 14228, 37597, 39881, 28339, 43631, 10282, 28303, 28346,  6588,
         43632, 28368, 39910, 37582, 39882, 10283,  6573, 39923, 37596, 14219,
         39909, 14202]),
 'layer11': tensor([28274, 28271, 28272, 28273, 28275, 28289, 28285, 28270, 28284, 28288,
         28286, 28290, 28287, 28304, 28387, 28374, 28373, 28298, 28299, 28388,
         28370, 28303, 28276, 28368, 28283, 28371, 28402, 28297, 28401, 28385,
         28259, 28386, 28258, 37597, 28354, 28318, 28360, 28300, 28346, 28260,
         28326, 28302, 28372, 28369, 28301, 28340, 28332, 37583, 37596, 28313,
         28312, 28382, 28367, 28319, 28359, 28400, 28384, 28257, 28305, 28395,
         28375, 28311]),
 'layer12': tensor([37597, 37596,  7831, 28385, 28399, 28398, 37583,  7835, 28400, 49707,
         28345, 28271,  7834, 28270, 28763, 28346, 28331, 37582, 41548, 28749,
         28330, 28340, 28397, 28332, 28401, 28384, 28777, 28395, 41547, 28275,
         28371, 28396, 28326, 37598, 28386, 28274, 28339, 28272, 41542, 28402,
         28329,  7832,  7833, 28327, 28394, 28359,  7836, 28344, 28370, 28273,
         28354, 37611, 37595, 28325, 41541,  7830, 28387, 28333, 28360, 28258,
         28338, 37610]),
 'layer13': tensor([ 4945, 10139, 10140,  4946,  4938,  5827,  5828,  5826, 10138,  1028,
          5829, 10132,  4944,  5869,  4939,  5825,  9138,  9145, 10133, 23517,
         23516, 12679, 23509, 23502, 10664, 20547, 10657, 23508,  9334,   986,
           993]),
 'layer14': tensor([ 4945, 10139, 10140,  5829,  4946,  5826,  5825,  5828, 10138,  5827,
         23508, 23517, 23509, 23516,  4944, 23515,  1517,  4938,  5830,  1513,
          1028, 23510, 21506,  4939,  1514, 20547, 23518,  4947,  2509,  2510,
         23511]),
 'layer15': tensor([23516, 23509, 23517, 23508, 23515, 23510, 10139,  4945, 23511, 23518,
         10140, 23507,  5827,  5826,  5829, 21507,  5828, 21506, 23514,  5825,
         21508,  4946,  1515,  1516,  1514, 10138, 21509, 21505, 22046,  1517,
          4944]),
 'layer2': tensor([183641, 183662, 139584, 196026, 199270, 196095, 139570, 196025, 183661,
         199326,   7930, 171005, 139514, 199327, 183585, 183642, 195970, 200176,
         199325, 195969,  32956,   7870, 183588, 139640, 124677, 199337, 196082,
           7926, 139529, 183640, 200177, 199281, 133260, 196077, 199269, 139569,
         183603,   7873, 199328, 120759, 120773, 133245,  55030, 139515, 199338,
         183663, 196081, 142824, 196022, 142767, 183602,   4568,  33012, 183698,
         139528,  10996,   7929, 199271,   7869, 199380, 199336,  11052, 133246,
           7814, 133261, 199394, 139585, 196078, 199324, 196094, 199340, 133317,
          11010,   7925,   4569, 199381, 133189, 124733, 200121,  11053,  40066,
          40122, 183717, 199391, 200175,  39052,   7871, 124678, 133134, 200166,
         199339, 105032,  39164, 199284, 196024, 199395, 199323,  32900,  11011,
         199384, 183589, 199341,   4559,   7912, 133190,  39165, 199383, 195913,
         105088, 200167,  40069,  40071,   4560, 199267, 133303, 183697,   4567,
           5521, 142775, 199268, 199379,   7913, 183655, 139530, 199282, 161635,
           7872, 143617,   7815, 183756, 183644, 183659,   6188, 120703, 133316,
          11108, 199335, 199382, 149102,  32957,   1645,   6187,  67445, 139473,
         149101,  40072, 199393,  10997,  40125,  40290, 133188, 193671, 124734,
          40068,  20475, 183702, 142831, 199280, 142830,  67444,   7927,   8757,
         199392, 183647,   4558,  11066,  40123,  11109, 184429,   5510,  55009,
           6133,   6132,   6189, 183648, 133135, 140413, 200110,  40124,  11067,
          38996, 199283, 199397, 183718,  20460,  39166,  33413,   6186, 139513,
         139626,  40067, 142774,  40016, 164778, 133204, 200178,   2497, 183606,
         133259,  40015, 199396,   1659, 199342, 195912, 183770,   7813, 199322,
          39179, 123906, 133133,  40065, 183712, 133191,  67459,  39109, 120760,
         183645, 196080,  11121, 134148,   7986, 134204, 133244,  40013, 139458,
         139472,  39053,  40010,  40063,  32901, 139625, 182645, 199390, 139571,
         183716,  39178,  67501, 182644, 199398, 196038, 140423, 200120,  67515,
         134203, 182701, 133192, 139583, 196023, 139459,   6131]),
 'layer3': tensor([96083, 28628, 96055, 28635, 28627, 28600, 96048, 28829, 96056, 96274,
          5918,  5925, 96076, 91376, 84411, 91375, 33334,  5917,  5926, 81162,
         49794, 49801, 84384, 96191, 91383, 34870, 34877, 96275, 28634, 96027,
         84412, 18692, 96049, 96084, 34878,  5927, 28601, 96246, 33306, 91382,
         67974,  5919,  5924, 81155, 92327,  5671,  5670, 35125, 28629,  5916,
         35126, 28572, 92332, 84439, 22382, 96077,  5672,  5669,  5698, 68166,
         81127, 33305, 69254, 24712, 69282, 18664, 84383, 81941, 82700,  5668,
          5697, 81942, 18665, 22389, 69226, 96082,  5699,  5700, 68165, 33333,
         81914, 67965, 69253, 69281, 84216, 84157, 81913, 84185, 84356,  5954,
          5953, 18693, 24230,  5946, 69225, 84215, 96192, 24202, 97149, 34871,
         96047, 42964, 69396,  5673,  5701, 96054, 28744, 41960,  5696, 24259,
          5667, 91577, 84440, 69310, 69309, 24201,  5945, 24740, 69476, 67975,
         67775, 84186, 33450, 69283, 49802]),
 'layer4': tensor([28627, 28635, 28829, 96083, 91376, 28628, 91375, 26281, 91383, 96274,
         96055, 81162, 28600, 26274, 96191, 49801, 96048, 49794, 28634,  5925,
          5918, 41204, 91604, 91382, 96246, 41396, 91577, 41395, 96056, 96076,
         84411, 42967, 41424, 96275,  5917,  5926, 92327, 30920, 34870, 81155,
         81942, 30948, 34878, 81914, 41176,  5927, 67974, 34877, 69282, 41367,
         84412, 82700, 84384, 30956, 41196, 92332, 69254,  5916, 91491,  5919,
         28744, 33334, 91576, 42995, 69281,  5924, 67965, 91603, 81913, 22382,
         41423, 97149, 81941, 35126, 82701, 28572, 84439, 28601,  7685, 69226,
         69476, 81127, 97122, 28772, 41232, 96245, 41140, 28857, 35125, 96192,
         69253,  5670, 82721, 42964,  5671, 96047, 41452, 75673, 69283, 41197,
         41203, 69310, 91410,  5698, 84157, 86704, 96084, 84185, 96027, 42965,
          5669, 49802, 28599, 68166, 42966, 41508, 69504, 69255,  5697, 42992,
         67975,  7657, 97095, 69309, 91492]),
 'layer5': tensor([26274, 26281, 28627, 28635, 96083, 96274, 28829, 81162, 96246, 28628,
         96275, 22382, 22389, 49801, 81155, 49794, 96048, 26282, 82700,  5925,
         74884, 26273,  5918, 91383, 91376, 28634, 96055, 96191, 82701, 96076,
         82721, 91577, 96245, 42967, 26275, 28600, 34877, 91604, 99213, 92327,
         22417, 82728, 74855,  5917, 30920, 86615, 34870, 25828,  5926, 67974,
         41396, 34878, 91576, 22410, 91375, 41204, 42995, 26280, 46128, 99220,
         85858,  5924, 33558, 34114, 91491,  5927, 49802, 74912, 46156, 96192,
         96056, 81914, 92332, 25831,  5916, 22409, 17877, 82673, 42964, 96082,
          5919, 96273, 64725, 67965, 35125, 85865, 74856, 42966, 95274, 35126,
         99221, 42965, 19217, 34121, 42992, 41395, 96047, 30921, 30948, 41424,
         74862, 17685, 75673, 46127, 84411, 34869, 25829, 17878, 22720, 91603,
         49795, 64718,  3570, 25827, 46129, 49352, 25830, 26501, 81942,  7657,
         42994, 92246,  7659, 74863, 20093]),
 'layer6': tensor([26274, 26281, 96275, 96274, 83506, 96246, 26273, 83513, 49801, 28635,
         28627, 96083, 49794, 96048, 81162, 92327, 96055, 82728, 26280, 82721,
         17657, 22389, 17685, 28829, 81155, 41204, 82700, 92332, 75673, 22409,
         22496, 42967, 92245, 22417, 28628, 22382, 86615, 86614, 74855, 96247,
         96076, 75666, 92246, 22381, 17650, 17678, 83514, 10594, 96056, 74884,
         82701, 22410, 26501, 22388, 83534, 96245, 49802, 92109, 28634, 34877,
         17653, 92102, 34878, 17681, 83541,  5925, 26282, 64725, 96191, 91576,
         42995, 19217, 41396, 34870, 28600, 91491, 10601, 96192, 92326, 17877,
          5918, 26309, 41395, 42964, 64718, 42966, 91383, 35126, 85858, 10595,
         83507, 74862, 86650, 25828, 41196, 22497, 42965, 49795, 91577, 35125,
         10602, 92101, 80286, 84411, 34869,  5917, 81914, 25831, 42992, 26302,
         92328, 67974, 42994, 85865, 46156, 92129, 53749, 17625, 86642, 86643,
         41508, 74856, 66265,  3570, 41176]),
 'layer7': tensor([14215, 14219, 14218, 42439,  4614,  4611, 42442, 14214, 42443, 18331,
         34656,  8922, 45438, 18335, 28719,  8979,  8965,  9119, 45380, 45383,
         14216,  4610, 14273,  8926,  4615, 45424, 47157,  1141, 14229,  9123,
         14497, 46541, 14496, 14272, 28723, 43659, 36225,  8980, 14483, 28722,
         41658, 18334, 47161, 23641, 23636, 12118, 33426,  8908, 46545, 14233,
         14482, 49707, 38323,  8925, 12104, 14245, 33423, 14232,  9122, 43631,
         23655, 13990]),
 'layer8': tensor([14215, 14219, 42439, 14218, 45438, 34656,  8979,  8965,  4614, 43631,
          1141, 42443,  4611, 46541, 36225,  7805, 14496, 33426,  9119, 14497,
         47157,  8922, 43659, 45424, 43645, 43646, 42442, 40900, 28525, 36226,
         46545, 28719,  8980, 49707, 28777, 23471, 33423, 43660, 34642,  1140,
         35245,  9123, 14483, 14214,  8908, 14273, 14272,  8952,  7819, 23655,
         47161, 14482, 23457, 14498, 46544,  1155, 38323,  8964, 23641, 35259,
         11655, 37748]),
 'layer9': tensor([14215, 43646, 43660, 43631, 14219, 43659, 43645, 43632,  7806,  7820,
          7819, 42439, 14218, 34656, 36225, 14216, 37583, 14214, 37597,  7807,
         43647,  7788, 14229, 14202,  7802, 28777,  1141,  7832,  7817, 37582,
         37596,  7831, 23471,  7833, 43617,  7805, 14203, 42443,  7793, 14274,
         28525, 14228, 42442, 33426, 28763,  7818, 14233, 23457, 34642, 14256,
          1140, 36226, 14271,  8979, 14201, 41321, 41320, 23092, 14242,  9119,
         23429, 14230])}

In [78]:
from transformers import AutoImageProcessor, ResNetForImageClassification

DEVICE = torch.device("cuda" if torch.cuda.is_available() else "cpu")

processor = AutoImageProcessor.from_pretrained("microsoft/resnet-34")
model = ResNetForImageClassification.from_pretrained("microsoft/resnet-34")
model = model.to(DEVICE)

In [79]:
from PIL import Image
@torch.no_grad()
def forward(image):
    model.eval()
    inputs = processor(image, return_tensors="pt").to(DEVICE)
    logits = model(**inputs).logits
    labels = logits.argmax(-1).cpu().tolist()
    return labels
fetch_data = lambda path: Image.open(f"./data/{path}").convert("RGB")

In [80]:
class AblateTorchModel:
    def __init__(self, layers, ablate, scaler=0):
        self.layers = layers
        self.ablate = ablate
        self.hooks = []
        for l, a in zip(layers, ablate):
            self.hooks.append(
                self.register_hook(l, a, scaler)
            )

    def remove_hooks(self):
        for h in self.hooks:
            h.remove()
        self.hooks = []

    def register_hook(self, layer, ablate, scaler):
        def hook(module, inputs, outputs):
            B = outputs.shape[0]
            flat = outputs.view(B, -1)
            flat[:, ablate] *= scaler
            return outputs
        return layer.register_forward_hook(hook)
    
    def __enter__(self):
        return self
    def __exit__(self, exception_type, exception_value, exception_traceback):
        self.remove_hooks()

layers = [layer for stage in model.resnet.encoder.stages for layer in stage.layers]
to_ablate_flat_idxs = [ablate[f"layer{i}"] for i in range(16)]

path = "celeba/60.jpg"
with AblateTorchModel(layers, to_ablate_flat_idxs) as a:
    image = fetch_data(path)
    labels = forward(image)
    print("ablated", model.config.id2label[labels[0]])

image = fetch_data(path)
labels = forward(image)
print("regular", model.config.id2label[labels[0]])

ablated oboe, hautboy, hautbois
regular neck brace

It certainly looks like the performance is much worse!

In [81]:
import pandas as pd
df = pd.read_parquet("./data/tasks/face_task2k_with_labels.parquet")

In [82]:
df

                          data  positive  label
0               celeba/398.jpg      True    585
1              celeba/3833.jpg      True    906
2              celeba/4836.jpg      True    903
3              celeba/4572.jpg      True    459
4               celeba/636.jpg      True    903
...                        ...       ...    ...
1995  val2017/000000294855.jpg     False    764
1996  val2017/000000142790.jpg     False    802
1997  val2017/000000297085.jpg     False    851
1998  val2017/000000140286.jpg     False    603
1999  val2017/000000125211.jpg     False    340

[2000 rows x 3 columns]

In [83]:
N = 100
pos_examples = df[df["positive"] == True][:N]
neg_examples = df[df["positive"] == False][:N]

In [84]:
pos_examples

               data  positive  label
0    celeba/398.jpg      True    585
1   celeba/3833.jpg      True    906
2   celeba/4836.jpg      True    903
3   celeba/4572.jpg      True    459
4    celeba/636.jpg      True    903
..              ...       ...    ...
95  celeba/2929.jpg      True    903
96  celeba/2814.jpg      True    655
97  celeba/4214.jpg      True    459
98  celeba/2831.jpg      True    937
99  celeba/1139.jpg      True    697

[100 rows x 3 columns]

In [85]:
neg_examples

                          data  positive  label
1000  val2017/000000579307.jpg     False    977
1001  val2017/000000127517.jpg     False    693
1002  val2017/000000569565.jpg     False    555
1003  val2017/000000114770.jpg     False    586
1004  val2017/000000037751.jpg     False    671
...                        ...       ...    ...
1095  val2017/000000147518.jpg     False    861
1096  val2017/000000331352.jpg     False    861
1097  val2017/000000071756.jpg     False    362
1098  val2017/000000320425.jpg     False    293
1099  val2017/000000020247.jpg     False    294

[100 rows x 3 columns]

In [96]:
def compute_ablated_and_regular(df):
    paths = df["data"].tolist()
    images = [fetch_data(p) for p in paths]
    labels = forward(images)


    layers = [layer for stage in model.resnet.encoder.stages for layer in stage.layers]
    to_ablate_flat_idxs = [ablate[f"layer{i}"] for i in range(16)]

    ablated_labels = None
    with AblateTorchModel(layers, to_ablate_flat_idxs, 0) as a:
        ablated_labels = forward(images)

    return labels, ablated_labels

pos_res = compute_ablated_and_regular(pos_examples)
neg_res = compute_ablated_and_regular(neg_examples)

In [97]:
def compute_acc(y, yhat):
	correct = y==yhat
	return correct.sum() / len(y)
print(compute_acc(torch.tensor(pos_res[0]), torch.tensor(pos_res[1])))
print(compute_acc(torch.tensor(neg_res[0]), torch.tensor(neg_res[1])))

tensor(0.1700)
tensor(0.9200)